.nav li a {_height: 0; zoom: 1;}
#footer {padding:13px 0 10px 0;}
#footer .rt img.png {margin-top:0px;}
/*
     FILE ARCHIVED ON 23:22:57 Oct 07, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:47:08 Jan 05, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 252.457 (3)
  PetaboxLoader3.datanode: 147.98 (4)
  CDXLines.iter: 22.566 (3)
  RedisCDXSource: 1.469
  exclusion.robots: 0.201
  load_resource: 185.655
  esindex: 0.015
  PetaboxLoader3.resolve: 254.911 (2)
  exclusion.robots.policy: 0.173
  captures_list: 281.967
*/